.bundle
.git
.idea
.rvmrc
.vagrant
coverage
example-configs
pkg
spec/fixtures
trees
vagrant-config-files
vendor
.gitignore
.travis.yml
config.json
Gemfile.lock
passenger.[0-9]*
Passenger*.json
thin*.yml
Vagrantfile
*.log
*.pid
*.pp
*.swp

