sudo: required

language: ruby
cache: bundler
rvm:
  - 2.6.0

services:
  - docker

before_install:
  - mkdir ${TRAVIS_BUILD_DIR}/trees
  - docker build -t genebean/tree-planter .
  - docker run -d -p 127.0.0.1:80:8080 --name planted_travis -v ${TRAVIS_BUILD_DIR}/trees:/opt/trees -e LOCAL_USER_ID=`id -u $USER` genebean/tree-planter
  - docker ps -a

script:
  - docker exec planted_travis /bin/sh -c 'bundle exec rake test'
  - docker exec planted_travis /bin/sh -c 'bundle exec rake rubocop'
  - sudo bash test/travisci_clean_trees.sh
  - bash test/travisci_test_locally.sh
  - sudo bash test/travisci_clean_trees.sh
  - bash test/travisci_test_running_container.sh

notifications:
  slack:
    secure: "HLf1vdPyg/2ezvShnwmRRtkXXap2yrMCsbU9Ow2moIhdPfDBhecXBBUsZ7/9vkIq6aTjvNb40708Q72Ndhycr1v9BE4y1KGTxcid99IhRuQEBFKkJRQpRSAqUhKq46hgUb986alQ5NoxYfMgXIC9+HzQYkoM1TXVrS3+D0cqBpkjUGl5pBG2DCa6nyAVeXzmVcs4+xeEOhkblfE5I7mXiFO0/aVcUeo+TYwSwDslPWx8OFd2PJjuceLMM8B1iBk4zY47FMdveUSA4lDQAtYMantiJvUrAGcyOUNEQZ8AsvVHuYW4HL3h3dvKXy6DM9ejwYxSFIYYtDlfCvTkY/m5HPCXvwLjABxV1JGCNkVs2vhmiCcvKSt4T4IdPxoGnMiT0UljVke5SY16hYaHkoaBtuzkRqCkRjD+nyPH5Y90c4D0uhrlob9dmUS7RkRqIZRDoaPoNS2xfrIHyEpsaXYr4rY0gBVB+ILd1DWJPIyAjRURkOVxKg1+0Tslq3B1FLAMmW/SkqYTtek680I5r+BDPFA9Eo+hxYqpWed/j68imRy6x6ZvwjS0ku+TG1G4z3P0W0wbys31/uC0PRP6YRJt1APKYxzP13rMWc21LXJoUgFtu19PbaCG2tHeb2oEdWkv3ilbbpMogjkU0+lrBP3ZLSIduuEvDDC9kpQy6Nrea5Y="
